.online-status {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  line-height: 3.750em;

  .avatar {
    float: left;
    margin: 0.5em;
  }

  &__name {
    color: $sidebar-text-light;
    font-weight: 900;
  }
}

