<div class="gh gh--issue-comment">

  <i class="gh-message-icon octicon octicon-comment"></i>

  <span class="avatar avatar--small"
      style="background-image:url({{github.comment.user.avatar_url}}s=34)"></span>

  {{github.comment.user.login}} commented on
  <a target="_blank"
      ng-href="{{message.content.comment.html_url}}">#{{github.issue.number}} &mdash; {{github.issue.title}}</a>
  of
  <a target="_blank"
      ng-href="{{github.repository.url}}">{{github.repository.owner.login}}/{{github.repository.name}}</a>

  <more-content content="github.comment.body_html | emoji"></more-content>
</div>
