<div class="gh gh--pull-request-comment">

  <i class="gh-message-icon octicon octicon-comment"></i>

  <span class="avatar avatar--small"
      style="background-image:url({{github.comment.user.avatar_url}}s=34)"></span>

  {{github.comment.user.login}} commented on
  <a target="_blank"
      ng-href="{{github.comment.html_url}}">pull request #{{github.comment.pull_request_url | prFromUrl}}</a>
  of
  <a target="_blank"
      ng-href="{{github.repository.url}}">{{github.repository.owner.login}}/{{github.repository.name}}</a>:

  <more-content ng-if="github.comment.body_html">
    <pre class="monospaced">
      <div>{{github.comment.diff_hunk}}</div>
    </pre>

    <div ng-bind-html="github.comment.body_html"></div>
  </more-content>
</div>
