<span ng-if="github.deleted">
  <i class="octicon octicon-git-branch-delete"></i>
  {{github.pusher.name}}
  deleted branch
  <a target="_blank"
      ng-href="{{github.compare}}">{{github.ref | localBranchName}}</a>
</span>

<span ng-if="!github.deleted">
  <i class="octicon octicon-git-commit"></i>
  {{github.pusher.name}}
  <span ng-if="github.forced && !github.created">force</span> pushed

  <ng-pluralize
      count="github.commits.length"
      when="{'0': '',
             'one': 'one commit to',
             'other': '{} commits to'}"></ng-pluralize>

  <span ng-if="github.created">new branch</span>
  <a target="_blank"
      ng-href="{{github.compare}}">{{github.ref | localBranchName}}</a>
</span>

on
<a ng-href="{{github.repository.url}}" target="_blank">{{github.repository.owner.name}}/{{github.repository.name}}</a>

<more-content ng-if="github.commits.length">
  <ol>
    <li class="monospaced"
        ng-repeat="commit in github.commits">
      <a ng-href="{{commit.url}}" ng-bind="commit.id | shortHash" target="_blank"></a> {{commit.message | limitWithEllipsis:50}}
    </li>
  </ol>
</more-content>
