<div class="gh gh--delete-branch"
    ng-if="github.deleted">

  <i class="gh-message-icon octicon octicon-git-branch-delete"></i>

  {{github.pusher.name}} deleted branch {{github.ref | localBranchName}}
</div>

<div class="gh gh--merge"
    ng-if="github.head_commit && isMergeCommit(github.head_commit)">

  <i class="gh-message-icon octicon octicon-git-merge"></i>
  {{github.pusher.name}} merged commit
  <a target="_blank"
      class="code"
      ng-href="{{github.head_commit.url}}"
      ng-bind="github.head_commit.id | shortHash"></a>
  into <span class="code">{{github.ref | localBranchName}}</span> from ??
</div>

<div class="gh gh--push"
    ng-if="!github.deleted && (github.head_commit && !isMergeCommit(github.head_commit))">

  <i class="gh-message-icon octicon octicon-git-commit"></i>
  {{github.pusher.name}}
  <span ng-if="github.forced && !github.created">force</span> pushed

  <ng-pluralize
      count="github.commits.length"
      when="{'0': 'a',
             'one': 'one commit to',
             'other': '{} commits to'}"></ng-pluralize>

  <span ng-if="github.created">new branch</span>
  <a target="_blank"
      ng-href="{{github.compare}}">{{github.ref | localBranchName}}</a>

  on
  <a target="_blank"
      ng-href="{{github.repository.url}}">{{github.repository.owner.name}}/{{github.repository.name}}</a>

  <more-content ng-if="github.commits.length">
    <ol>
      <li class="monospaced"
          ng-repeat="commit in github.commits">
        <a ng-href="{{commit.url}}" ng-bind="commit.id | shortHash" target="_blank"></a> {{commit.message | limitWithEllipsis:50}}
      </li>
    </ol>
  </more-content>
</div>
