<div class="status">
  <span class="avatar avatar--small"
      style="background-image:url(https://trello-avatars.s3.amazonaws.com/{{trello.action.memberCreator.avatarHash}}/30.png)"></span>

  {{trello.action.memberCreator.username}}
  <span ng-if="trello.action.data.list.closed">archived</span>
  <span ng-if="!trello.action.data.list.closed">re-opened</span>
  list
  '{{trello.action.data.list.name}}'
  on
  <a target="_blank"
      ng-href="{{trello.action.data.board.shortLink}}">{{trello.action.data.board.name}}</a>

  <more-content ng-if="trello.action.data.text_html">
    <div ng-bind-html="trello.action.data.text_html"></div>
  </more-content>
</div>
