
// Colors
$main-blue = #39394d;
$main-blue-dark = #30303d;
$green = #649750;
$red = #975050;

$text-color = #3d3c40;
$text-color-light = #9e9ea6;

// Sidebar
$sidebar-background = $main-blue;
$sidebar-background-dark = $main-blue-dark;
$sidebar-background-angle = $green;

$sidebar-text-light = #ffffff;
$sidebar-text = #9b9bab;
$sidebar-text-angle = #b9cfaa;
