
.message--jira,
.message--vcs {
  @extend .message;

  margin: 0.313em;

  border: solid 1px rgb(229, 207, 172);
  border-radius: 0.313em;

  background: rgb(255, 251, 233);

  .message__content-user {
    color: rgb(229, 207, 172);
  }

  &.has-next-continuous {
    margin-bottom: 0;

    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.has-previous-continuous {
    margin-top: 0;

    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

[class^="jira-issue-"]:before {
  content: '';

  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 0.313em;

  vertical-align: middle;

  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.jira-issue-Task:before,
.jira-issue-Subtask:before {
  background-image: url("/images/jira/task_agile.png");
}
.jira-issue-Story:before {
  background-image: url("/images/jira/story.png");
}
.jira-issue-Bug:before {
  background-image: url("/images/jira/bug.png");
}
