
.message--vcs {
  @extend .message;

  margin: 0.313em;

  border: solid 1px rgb(229, 207, 172);
  border-radius: 0.313em;

  background: rgb(255, 251, 233);

  .message__content-user {
    color: rgb(229, 207, 172);
  }

  &.has-next-continuous {
    margin-bottom: 0;

    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.has-previous-continuous {
    margin-top: 0;

    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

