.avatar {
  $size = 1.875em;

  display: inline-block;
  width: $size;
  height: $size;

  border-radius: 0.313em;

  background-size: $size;
  background-repeat: no-repeat;

  &--medium {
    font-size: 1.333em;
  }

  &--large {
    font-size: 5.25em;
  }
}
