.users {
  overflow: auto;
  margin: 0;
  padding: 0;

  list-style: none;
}

.user {
  float: left;
  margin: 0.313em;

  cursor: pointer;

  transition: all 300ms ease-in-out;

  &.user-online {
    box-shadow: 0 0 2px 1px rgba(50, 190, 50, 0.75);
  }

  &.user-offline {
    opacity: 0.75;
    filter: grayscale(100%);

    &:hover {
      opacity: 1;
      filter: grayscale(0);
    }
  }
}

.discussions {
  padding: 0.313em;
  margin: 2em 0 0;

  list-style: none;
}

.discussion {
  overflow: hidden;
  margin: 0.313em 0;

  font-size: 0.813em;
  font-weight: 500;
  color: #666;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  user-select: none;

  &:hover {
    color: #000;
  }
}

.discussion.discussion-muted {
  color: #999;
  font-weight: 100;

  &:hover {
    color: #333;
  }
}
