.users {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user {
  float: left;
  width: 1.875em;
  height: 1.875em;
  margin: 0.313em;

  cursor: pointer;

  border-radius: 0.313em;

  transition: all 300ms ease-in-out;

  &.user-online {
    box-shadow: 0 0 2px 1px rgba(50, 190, 50, 0.75);
  }

  &.user-offline {
    opacity: 0.75;
    filter: grayscale(100%);

    &:hover {
      opacity: 1;
      filter: grayscale(0);
    }
  }
}

