@require "_responsive";
@require "btn";

* { box-sizing: border-box; }

html,
body,
.container {
  width: 100%;
  height: 100%;

}

body {
  overflow: hidden;
  margin: 0;
}

$sidebar-width = 13.125em;
$chat-context-full-width = 13.125em;
$chat-context-medium-width = 5.63em;
$chat-context-small-width = 3.125em;

.container {
  position: relative;
}

.scroll-container {
  overflow-y: scroll;
}

.sidebar {
  position: absolute;
  width: $sidebar-width;
  top: 0;
  bottom: 0;
  left: 0;
}

.chat {
  position: absolute;
  top: 0;
  right: $chat-context-small-width;

  +from($breakpoint-large) {
    right: $chat-context-medium-width;
  }
  +from($breakpoint-x-large) {
    right: $chat-context-full-width;
  }

  bottom: 0;
  left: $sidebar-width;

  transition: right $responsive-transition-time ease-in-out;

  &.file-hover {
    &:before {
      content: '';

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      pointer-events: none;

      background: rgba(0, 0, 0, 0.5);
    }

    &:after {

    }
  }
}

.chat-context {
  position: absolute;
  width: $chat-context-small-width;

  +from($breakpoint-large) {
    width: $chat-context-medium-width;
  }
  +from($breakpoint-x-large) {
    width: $chat-context-full-width;
  }

  top: 0;
  right: 0;
  bottom: 0;

  background: #e6e6e6;

  transition: width $responsive-transition-time ease-in-out;
}

.btn--more-content {
  @extend .btn--no-focus;

  padding: 0 0.313em;
  margin: 0;

  font-size: 0.625em;
  color: #666;

  border-radius: 0.313em;
  background: #eee;
}

.small-title {
  clear: both;
  display: block;
  margin: 1em 0;

  font-size: 0.813em;
  font-weight: 700;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.125em;
}
