.topic-bar {
  display: none;
}

.chat-bar {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 32px;

  background: rgb(230, 230, 230);
}

.messages-container {
  overflow-y: scroll;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 32px;
  left: 0;
}

.messages {
  position: absolute;
  padding: 0;
  margin: 0;
  max-height: 100%;
  right: 0;
  bottom: 0;
  left: 0;

  list-style: none;
}

.message {
  position: relative;
  width: 100%;

  border-top: solid 1px rgb(225, 225, 225);

  &.notify {
    border-top-color: rgb(236, 220, 191);
    background: rgb(255, 251, 233);
  }
  &.success {
    border-top-color: rgb(190, 224, 144);
    background: rgb(245, 248, 232);
  }
  &.failure {
    border-top-color: rgb(225, 175, 176);
    background: rgb(249, 230, 230);
  }

  a {
    font-weight: 600;
    // color: rgb(62, 116, 173);
    color: #000000;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

.message__user {
  display: table-cell;
  width: 140px;
  padding: 0.313em 0.625em;

  font-weight: 600;
  text-align: right;

  background: rgb(247, 247, 247);
  border-right: solid 1px rgb(225, 225, 225);
  box-shadow: inset -1px 1px 0 0 #ffffff;

  .notify & {
    background: rgb(253, 235, 200);
    border-right-color: rgb(229, 207, 172);
    box-shadow: inset -1px 1px 0 0 rgb(255, 250, 235);
  }
  .success & {
    background: rgb(223, 242, 206);
    border-right-color: rgb(190, 224, 144);
    box-shadow: inset -1px 1px 0 0 rgb(255, 250, 235);
  }
  .failure & {
    background: rgb(243, 208, 208);
    border-right-color: rgb(225, 175, 176);
    box-shadow: inset -1px 1px 0 0 rgb(247, 222, 222);
  }
}

.message__content {
  display: table-cell;
  padding: 0.313em 0.625em;

  word-break: break-word;
}

.message__time {
  display: none;
  position: absolute;
  padding: 0 0.626em;
  right: 0.625em;
  top: -0.625em;

  color: rgb(153, 153, 153);
  font-size: 0.813em;
  font-weight: 300;
  user-select: none;
  cursor: default;

  background: #ffffff;
  border-radius: 0.313em;

  .message:last-child &,
  .message:hover & {
    display: block;
  }
}

.messages-loading {
  padding: 0.313em;

  font-size: 3em;
  color: #dddddd;
  text-align: center;
}

.strong {
  font-weight: 600;
}
