@require "_theme";
@require "_util";

$topic-bar-height = 3em;

.topic-bar {
  @extend .truncate;

  height: $topic-bar-height;
  padding: 0 1em;

  line-height: $topic-bar-height;
}

.topic-bar__room-name {
  font-size: 1.250em;
  font-weight: 900;
}

.topic-bar__room-description {
  margin-left: 1em;

  font-size: 0.813em;
  color: $text-color-light;
}

.chat-bar {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 3em;

  background: rgb(230, 230, 230);

  .chat-input-container {
    padding: 0.313em;
    margin-right: 4em;
  }

  .chat-input {
    display: block;
    width: 100%;
    height: 2.375em;

    font-size: 1em;
    resize: none;

    border: 0;
  }

  .send-message-btn {
    position: absolute;
    width: 4em;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .current-discussion {
    overflow: hidden;
    z-index: 1;
    position: absolute;
    height: 2em;
    left: 0;
    right: 0;
    top: -2em;
    padding: 0 2em 0 1em;

    line-height: 2em;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-top: solid 1px #ddd;
    color: #666;

    background: rgba(200, 200, 200, 0.5);

    .close {
      position: absolute;
      top: 0;
      right: 0;
      color: #999;

      &:hover {
        color: #666;
      }
    }
  }
}

.messages-container {
  position: absolute;
  top: $topic-bar-height;
  right: 0;
  bottom: 3em;
  left: 0;

  &:after {
    content: '';

    position: absolute;
    z-index: 1;
    height: 2em;
    right: 0;
    bottom: 0;
    left: 0;

    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  }
}

.messages {
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  padding: 0 0 2em;
  margin: 0;
  max-height: 100%;
  right: 0;
  bottom: 0;
  left: 0;

  list-style: none;
}

$notify-background = rgb(255, 251, 233);
$success-background = rgb(245, 248, 232);
$fail-background = rgb(249, 230, 230);

.message {
  clear: both;
  position: relative;
  padding-left: 1.5em;
  margin: 0 0.313em;

  border-top: solid 1px #f0f0f0;

  &.message--monologue:not(.message--date-separator) {
    border-top-color: transparent;
  }

  &.message--highlight,
  &.message--mentions-me {
    background: $notify-background;
  }

  &.message--date-separator {
    $date-separator-height = 2em;
    padding-top: $date-separator-height;
    margin-top: $date-separator-height;

    border-top: solid 1px #ccc;

    &:before {
      content: attr(data-timestamp);

      position: absolute;
      top: -1em;
      left: 50%;
      padding: 0 1em;

      font-weight: 900;

      transform: translate(-50%);

      background: #ffffff;
    }
  }

  &.message--first-unseen:before {
    content: 'Unread';

    display: block;

    color: white;
    font-weight: 900;
    font-size: 0.813em;
    text-transform: uppercase;
    text-align: center;

    border-radius: 0.313em;
    background: #975050;
  }

  a {
    font-weight: 600;
    color: rgb(62, 116, 173);
    color: #000000;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

  .inline-code {
    padding: 0.125em;

    border: solid 1px #ccc;
    border-radius: .313em;
    background: #eee;
  }

  img {
    max-width: 100%;
  }
}

.message__author {
  margin: 0.5em 0 0 3.643em;

  font-weight: 900;
  font-size: 0.875em;

  .message--monologue:not(.message--date-separator) & {
    display: none;
  }
}

.message__author-avatar {
  float: left;
  margin: 0.625em;

  .message--monologue:not(.message--date-separator) & {
    display: none;
  }
}

.message__content {
  padding: 0 0.625em 0.313em 0;
  margin: 0 0 0 3.188em;

  word-break: break-word;

  .message--monologue:not(.message--date-separator) & {
    margin-top: 0;
    padding-top: 0.313em;

    border-top: solid 1px #f0f0f0;
  }
}

.message__more-content {
  padding: 0 1em;
  margin-top: 0.313em;
  border: solid 1px #eeeeee;
  border-radius: 0.313em;
  background: #fdfdfd;

  code {
    padding: 0 0.313em;

    border: solid 1px #dddddd;
    border-radius: 0.313em;
    background: #eeeeee;
  }
}

.message__timestamp {
  display: block;
  visibility: hidden;
  position: absolute;
  padding: 0 0.626em;
  right: 0.625em;
  top: -0.625em;

  color: rgb(153, 153, 153);
  font-size: 0.813em;
  font-weight: 300;
  user-select: none;
  cursor: default;

  background: #ffffff;
  border-radius: 0.313em;

  .message--highlight &,
  .message--mentions-me & {
    background: $notify-background;
  }

  .message:last-child &,
  .message:hover & {
    visibility: visible;
  }

  .message--date-separator & {
    top: 1.813em;
  }
}

.plain-message {
  margin: 0;
}

.strong {
  font-weight: 600;
}

.message__discussion-marker {
  position: absolute;
  width: 1.5em;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;

  opacity: 0;

  transition: opacity 250ms ease-in-out;

  i {
    position: absolute;
    top: 0.625em;
    left: 0.125em;
  }

  .message:hover & {
    opacity: 0.1;
  }

  .message--thread &,
  .message--comment & {
    opacity: 0.4;
  }

  .message &:hover,
  .message--thread:hover &,
  .message--comment:hover & {
    opacity: 1;
  }

  .message--date-separator & {
    top: 2em;
  }
}
