@require "_theme";

.progress-bar {
  position: relative;

  background: $light-green;
  border-radius: 0.313em;

  &__progress {
    position: absolute;
    height: 100%;
    top: 0;

    background: $green;
    border-radius: 0.313em;
  }

  &__label {
    position: relative;
    padding: 0.313em 0.625em;

    color: white;
  }
}
