.room-list {
  padding: 0;
  margin: 0;

  list-style: none;

  &:last-child:after {
    content: '';

    display: block;
    height: 0;
    border-bottom: solid 1px rgb(65, 72, 86);
  }
}

.room {
  position: relative;
  overflow: auto;
}

.sidebar-btn {
  display: block;
  width: 100%;
  padding: 0 0.625em;
  margin: 0;

  line-height: 2em;
  text-align: left;
  color: rgb(177, 179, 174);
  cursor: pointer;

  border: 0;
  border-top: solid 1px rgb(65, 72, 86);
  border-bottom: solid 1px rgb(36, 43, 55);
  background: none;

  .active & {
    border-top-color: rgb(36, 31, 40);
    background: rgb(36, 43, 55);
  }

  .unread & {
    color: #ffffff;
  }

  .active &,
  &:hover,
  &:active,
  &:focus {
    color: #ffffff;
  }
}

.room__close-btn {
  position: absolute;
  width: 2em;
  height: 2em;
  top: 0;
  right: 0;

  color: rgb(81, 87, 100);

  border: 0;
  background: none;

  &:hover,
  &:active,
  &:focus {
    color: #ffffff;
  }
}

.room__type-icon {
  .query-online & {
    color: #32BE32;
  }
}
