@import "theme";
@import "util";
@import "btn";

.sidebar {
  color: $sidebar-text;
  background: $sidebar-background;
}

.room-list {
  padding: 0 1em 0 0;
  margin: 0;

  list-style: none;
  font-size: 0.875em;
}

.room {
  @extend .truncate;

  position: relative;
  padding-right: 1.875em;

  border-top-right-radius: 0.313em;
  border-bottom-right-radius: 0.313em;

  &.unread {
    font-weight: 900;
    color: $sidebar-text-light;
  }

  &:hover {
    background: $sidebar-background-dark;
  }

  &.active {
    color: $sidebar-text-light;
    background: $sidebar-background-angle;
  }
}

.btn--sidebar {
  @extend .btn;
  @extend .btn--no-focus;

  display: block;
  width: 100%;
  padding: 0 0.625em;
  margin: 0;

  line-height: 2em;
}

.room__close-btn {
  display: none;
  position: absolute;
  width: 2em;
  height: 2em;
  top: 0;
  right: 0;

  // color: $sidebar-text;

  &:hover,
  &:active,
  &:focus {
    color: $sidebar-text-light;
  }

  .room:hover & {
    display: block;
  }
}

.room__icon {
  .active & {
    color: $sidebar-text-angle;
  }
}

%online-status-icon {
  font-size: 0.625em;
}

.online-status-icon--online {
  @extend %online-status-icon;

  color: #32BE32;
}

.online-status-icon--offline {
  @extend %online-status-icon;
}

.unread-marker {
  line-height: 1em;
  font-size: 0.313em;
  color: rgb(50, 200, 50);
  text-shadow: 0 0 5px rgba(50, 200, 50, 0.25);

  opacity: 0;

  transition: all 250ms ease-in-out;

  .unread & {
    opacity: 0.6;

    animation-name: pulse;
    animation-duration: 1200ms;
    animation-delay: 250ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

@keyframes pulse {
  to {
    opacity: 1;
    text-shadow: 0 0 15px rgba(50, 200, 50, 0.7);
  }
}
