:root {
  --notify-background: rgb(255, 251, 233);
  --success-background: rgb(245, 248, 232);
  --fail-background: rgb(249, 230, 230);
}

.c-Message {
  clear: both;
  position: relative;
  padding-left: 1.5em;
  margin: 0 0.313em;

  border-top: solid 1px #f0f0f0;
}

  .c-Message--Monologue:not(.c-Message--DateSeparator) {
    border-top-color: transparent;
  }

  .c-Message--Highlight,
  .c-Message--MentionsMe,
  .c-Message--Notify {
    background: var(--notify-background);
  }

  .c-Message--Success {
    background: var(--success-background);
  }

  .c-Message--Fail {
    background: var(--fail-background);
  }

  :root {
    --date-separator-height: 2em;
  }
  .c-Message--DateSeparator {
    padding-top: var(--date-separator-height);
    margin-top: var(--date-separator-height);

    border-top: solid 1px #ccc;
  }
    .c-Message--DateSeparator:before {
      content: attr(data-timestamp);

      position: absolute;
      top: -0.813em;
      left: 50%;
      padding: 0 1em;

      font-weight: 900;

      transform: translate(-50%);

      background: #ffffff;
    }

  .c-Message--first-unseen {
    top: -1px;
    border-top: dashed 2px $green !important;
  }
    .c-Message--FirstUnseen .message__content {
      border-top-color: transparent !important;
    }

    .c-Message--FirstUnseen:before {
      content: 'New Messages';

      position: absolute;
      top: -0.813em;
      left: 50%;
      padding: 0 1em;
      transform: translate(-50%);

      color: $green;
      font-weight: 900;
      font-size: 0.813em;
      text-transform: uppercase;
      text-align: center;

      background: #ffffff;
    }

    .c-Message--FirstUnseen.is-below-screen:before {
      position: fixed;
      top: auto;
      left: auto;
      bottom: 4.692em;
      right: 18em;
      padding: 0.313em 1em;
      transform: translate(0);
      opacity: 0.8;

      color: white;

      background: $green;
      border-top-left-radius: 0.313em;
      border-top-right-radius: 0.313em;
    }

    .c-Message--FirstUnseen.is-above-screen:before {
      position: fixed;
      top: 3.692em;
      left: 17em;
      right: 17em;
      padding: 0.313em 1em;
      transform: translate(0);
      opacity: 0.8;

      color: white;

      background: $green;
      border-radius: 0.313em;
    }

  .c-Message a {
    font-weight: 600;
    color: rgb(62, 116, 173);
    color: #000000;
    text-decoration: none;
  }
  .c-Message a:hover {
    text-decoration: underline;
  }

  .c-Message .inline-code {
    padding: 0.125em;

    border: solid 1px #ccc;
    border-radius: .313em;
    background: #eee;
  }

  .c-Message img {
    max-width: 100%;
  }

    .c-Message__Author {
      margin: 0.5em 0 0 3.643em;

      font-weight: 900;
      font-size: 0.875em;
    }
      .c-Message--Monologue:not(.c-Message--DateSeparator) .c-Message__Author {
        display: none;
      }

    .c-Message__AuthorAvatar {
      float: left;
      margin: 0.625em;
    }
      .c-Message--Monologue:not(.c-Message--DateSeparator) .c-Message__AuthorAvatar {
        display: none;
      }

    .c-Message__Content {
      padding: 0 0.625em 0.313em 0;
      margin: 0 0 0 3.188em;

      word-break: break-word;
    }
      .c-Message--Monologue:not(.c-Message--DateSeparator) .c-Message__Content {
        margin-top: 0;
        padding-top: 0.313em;

        border-top: solid 1px #f0f0f0;
      }

    .c-Message__MoreContent {
      padding: 0 1em;
      margin-top: 0.313em;
      border: solid 1px #eeeeee;
      border-radius: 0.313em;
      background: #fdfdfd;
    }
      .c-Message__MoreContent code {
        padding: 0 0.313em;

        border: solid 1px #dddddd;
        border-radius: 0.313em;
        background: #eeeeee;
      }

    .c-Message__Timestamp {
      display: block;
      visibility: hidden;
      position: absolute;
      padding: 0 0.626em;
      right: 0.625em;
      top: -0.625em;

      color: rgb(153, 153, 153);
      font-size: 0.813em;
      font-weight: 300;
      user-select: none;
      cursor: default;

      background: #ffffff;
      border-radius: 0.313em;
    }

      .c-Message--Highlight .c-Message__Timestamp,
      .c-Message--MentionsMe .c-Message__Timestamp {
        background: var(--notify-background);
      }

      .c-Message:last-child .c-Message__Timestamp,
      .c-Message:hover .c-Message__Timestamp {
        visibility: visible;
      }

      .c-Message--DateSeparator .c-Message__Timestamp {
        top: 1.813em;
      }
