.c-Sidebar {
  /* Size and Position in ../layout.css */
  color: var(--sidebar-text);
  background: var(--sidebar-background);
}

.c-Sidebar__Channels {
  position: absolute;
  top: 2.625em;
  right: 0;
  bottom: 3.750em;
  left: 0;
}

.c-Sidebar__RoomList {
  padding: 0 1em 0 0;
  margin: 0;

  list-style: none;
  font-size: 0.875em;
}

.c-Sidebar__Room {
  position: relative;
  padding-right: 1.875em;

  border-top-right-radius: 0.313em;
  border-bottom-right-radius: 0.313em;
}

  .c-Sidebar__Room:hover {
    background: var(--sidebar-background-dark);
  }

  .c-Sidebar__Room.has-unread {
    font-weight: 900;
    color: var(--sidebar-text-light);
}

  .c-Sidebar__Room.is-active {
    color: var(--sidebar-text-light);
    background: var(--sidebar-background-angle);
  }

.c-Sidebar__ShowRoomButton {
  display: block;
  width: 100%;
  padding: 0 0.625em;
  margin: 0;

  line-height: 2em;
}

.c-Sidebar__CloseRoomButton {
  display: none;
  position: absolute;
  width: 2em;
  height: 2em;
  top: 0;
  right: 0;
}

  .c-Sidebar__CloseRoomButton:hover,
  .c-Sidebar__CloseRoomButton:active,
  .c-Sidebar__CloseRoomButton:focus {
    color: var(--sidebar-text-light);
  }

  .c-Sidebar__Room:hover .c-Sidebar__CloseRoomButton {
    display: block;
  }

.active .room__icon {
  color: var(--sidebar-text-angle);
}

.online-status-icon {
  font-size: 0.625em;
}

.online-status-icon--online {
  /* @extend .online-status-icon; */

  color: #32BE32;
}

.online-status-icon--offline {
  /* @extend .online-status-icon; */
}

