@require "_theme";

.status,
.gh {
  position: relative;
  padding-left: 2em;

  .avatar {
    margin-right: 0.5em;
  }
}

.gh-message-icon {
  position: absolute;
  width: 1em;
  left: 0.5em;

  line-height: 1.5;
  text-align: center;

  color: #aaa;

  .gh--open-pull-request &,
  .gh--open-issue & {
    color: $green;
  }

  .gh--close-pull-request &,
  .gh--close-issue {
    color: $red;
  }

  .gh--merge & {
    color: $main-blue;
  }
}
