
$responsive-transition-time: 400ms;

// 336px and up (iPhone landscape)
$breakpoint-small: 21em;

// 576px and up (iPad portrait)
$breakpoint-medium: 36em;

// 784px and up
$breakpoint-large: 49em;

// 960px and up (iPad landscape and small desktop)
$breakpoint-x-large: 60em;

// 1440px and up (Proper sized desktops)
$breakpoint-xx-large: 90em;
