:root {
  --avatar-size: 1.875em;
}

.avatar {
  display: inline-block;
  width: var(--avatar-size);
  height: var(--avatar-size);

  vertical-align: text-bottom;

  border-radius: 0.313em;

  background-size: var(--avatar-size);
  background-repeat: no-repeat;
}

.avatar--small { font-size: 0.5em; }
.avatar--medium { font-size: 1.333em; }
.avatar--large { font-size: 5.25em; }
