:root {
  --sidebar-width: 13.125em;
  --chat-context-full-width: 13.125em;
  --chat-context-medium-width: 5.63em;
  --chat-context-small-width: 3.125em;
}

html,
body,
.container {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
  margin: 0;
}

.container { position: relative; }

.c-Sidebar {
  position: absolute;
  width: var(--sidebar-width);
  top: 0;
  bottom: 0;
  left: 0;
}

.chat {
  position: absolute;
  top: 0;
  right: var(--chat-context-small-width);

  bottom: 0;
  left: var(--sidebar-width);

  transition: right var(--responsive-transition-time) ease-in-out;
}

@media (--breakpoint-large) {
  .chat { right: var(--chat-context-medium-width); }
}

@media (--breakpoint-x-large) {
  .chat { right: var(--chat-context-full-width); }
}

.chat-context {
  position: absolute;
  width: var(--chat-context-small-width);

  top: 0;
  right: 0;
  bottom: 0;

  background: #e6e6e6;

  transition: width var(--responsive-transition-time) ease-in-out;
}

@media (--breakpoint-large) {
  .chat-context { width: var(--chat-context-medium-width) };
}

@media (--breakpoint-x-large) {
  .chat-context { width: var(--chat-context-full-width); }
}

