.online-status {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  line-height: 3.750em;
}

.online-status .avatar {
  float: left;
  margin: 0.5em;
}

.online-status__name {
  color: var(--sidebar-text-light);
  font-weight: 900;
}
