html, button {
  font: 100%/1.5 "Lato", sans-serif;
  font-weight: 400;

  font-smoothing: antialiased;
  text-size-adjust: 100%;

  color: var(--text-color);
}

input, textarea {
  font-family: "lato", sans-serif;
}

:root {
  --size: 0.125em;
}

blockquote,
.blockquote {
  position: relative;

  padding-left: calc(var(--size) * 8);
  margin: calc(var(--size) * 8);

  &:before {
    content: '';

    position: absolute;
    top: var(--size);
    bottom: var(--size);
    left: 0;

    border: solid var(--size) var(--red);
    border-radius: var(--size);
  }

  blockquote,
  .blockquote {
    color: var(--text-color-light);

    &:before {
      border-color: var(--text-color-light);
    }
  }
}

code,
.code {
  padding: 0 0.313em;

  font-family: "Source Code Pro", monospace;
  font-size: 0.813em;

  border: solid 1px #ddd;
  border-radius: 0.313em;
  background: #eee;
}

pre {
  overflow-x: scroll;
  padding: 0.5em;

  word-break: normal;

  border: solid 1px #ddd;
  border-radius: 0.313em;
  background: #eee;

  code {
    padding: 0;
    border: none;
  }
}

.monospaced {
  font-family: "Source Code Pro", monospace;
  font-size: 0.813em;
}

.list-title {
  margin: 1em 0 0.375em 0.750em;

  font-size: 0.813em;
  font-weight: 700;
  text-transform: uppercase;

  cursor: default;
}

.strong {
  font-weight: 600;
}

.very-strong {
  font-weight: 900;
}

.emphasis {
  font-style: italic;
}

.quiet {
  color: var(--text-color-light);
}

.small {
  font-size: 0.813em;
}
