<aside class="chat-context" ng-controller="ChatContextCtrl">

  <ul class="users">
    <li class="user avatar"
        style="background-image:url({{user.avatar}})"
        title="{{user.name}}"
        ng-repeat="user in currentRoom.users | orderBy:'-last_ping'"
        ng-class="{'user-online': isOnline(user),
                   'user-offline': !isOnline(user)}">
    </li>
  </ul>

  <!-- <h3 class="small-title">Discussions</h3> -->
  <ul class="discussions">
    <li class="discussion"
        title="{{discussion.content}}"
        ng-repeat="discussion in flowdock.discussions[currentRoom.id]"
        ng-class="{'discussion-muted': discussion.muted}">
      <i class="fa fa-fw"
          ng-class="{'fa-volume-up': !discussion.muted,
                     'fa-volume-off': discussion.muted}"></i>
      {{discussion.content}}
    </li>
  </ul>

</aside>
