<!-- WalkToFreedom pushed to branch nap-886-session-expiry-designer of skilitics/portal
- nap-886 couple of tweaks to the css (65f7c76) -->

{{github.pusher.name}} pushed to branch
<a ng-href="{{github.compare}}" ng-bind="github.ref | localBranchName"></a> of
<a ng-href="{{github.repository.url}}" target="_blank">{{github.repository.owner.name}}/{{github.repository.name}}</a>:
<ol>
  <li ng-repeat="commit in github.commits">
    <a class="code" ng-href="{{commit.url}}" ng-bind="commit.id | shortHash" target="_blank"></a> {{commit.message}}
  </li>
</ol>

