<!-- WalkToFreedom opened pull request 189 of skilitics/portal: nap-886 sorta
working session expiry handling in designer. -->

<span class="strong" ng-bind="message.content.comment.user.login"></span>
opened <a ng-href="{{message.content.pull_request.html_url}}">pull request {{message.content.number}}</a> of
<span class="strong" ng-bind="message.content.repository.owner.login"></span>/<span class="strong" ng-bind="message.content.repository.name"></span>:
<span ng-bind="message.content.pull_request.title"></span>
