<!-- simonbuchan commented on pull request 189 of skilitics/portal: Checking
the flex sdk source (which IDEA makes nic... -->

<span class="strong" ng-bind="message.content.comment.user.login"></span>
commented on
<a class="strong" ng-href="{{message.content.comment.html_url}}" target="_blank">pull request 00</a>
of
<span class="strong" ng-bind="message.content.repository.owner.login"></span>/<span class="strong" ng-bind="message.content.repository.name"></span>:
<span class="strong" ng-click=""><i class="fa fa-fw fa-plus-square-o"></i> Show comment</span>

<div class="comment" ng-bind-html="message.content.comment.body_html"></div>
