<!-- jeef3 commented on commit 7cc6930 of skilitics/portal: Cool, was just a
 guess. -->


{{github.comment.user.login}} commented on commit
<a class="code" ng-href="{{github.comment.html_url}}" ng-bind="github.comment.commit_id | shortHash" target="_blank"></a>
of
<a ng-href="{{github.repository.url}}" target="_blank">{{github.repository.owner.login}}/{{github.repository.name}}</a>:
<button ng-click="commentVisible = !commentVisible"><i class="fa fa-fw fa-plus-square-o"></i></button>

<div class="comment" ng-show="commentVisible" ng-bind-html="github.comment.body_html"></div>
