{{github.pusher.name}} <span ng-if="github.forced">force</span> pushed
<ng-pluralize
    count="github.commits.length"
    when="{'0': 'no commits',
           'one': 'one commit',
           'other': '{} commits'}"></ng-pluralize>

to
<a target="_blank"
    ng-if="!github.forced"
    ng-href="{{github.compare}}">{{github.ref | localBranchName}}</a>
<span
    ng-if="github.forced">{{github.ref | localBranchName}}</span>
for
<a ng-href="{{github.repository.url}}" target="_blank">{{github.repository.owner.name}}/{{github.repository.name}}</a>

<button class="show-more-btn"
    ng-show="github.commits.length > 0"
    ng-click="commitsVisible = !commitsVisible">
  <i class="fa fa-fw fa-ellipsis-h"></i>
</button>
<ol ng-show="commitsVisible">
  <li ng-repeat="commit in github.commits">
    <a class="code" ng-href="{{commit.url}}" ng-bind="commit.id | shortHash" target="_blank"></a> {{commit.message}}
  </li>
</ol>

