<!-- Jeff Knaggs started work on [NAP-17] - This is the comment -->

{{jira.user_name}} started work on
<a target="_blank"
    ng-href="{{jira.issue_url}}"
    class="jira-issue-{{jira.issue_type}}">{{jira.issue_key}} &mdash; {{jira.issue_summary}}</a>

<button class="show-more-btn"
    ng-show="jira.comment_body"
    ng-click="commentVisible = !commentVisible">
  <i class="fa fa-fw fa-ellipsis-h"></i>
</button>
<div class="comment" ng-show="commentVisible" ng-bind-html="jira.comment_body_html"></div>
