
<div ng-include="'views/sidebar.html'"></div>

<section class="chat">
  <div class="message-windows">
    <!-- Rooms -->
    <div class="message-window"
        ng-controller="MessageWindowCtrl"
        ng-class="{'is-loading': isLoading}"
        ng-repeat="room in flows"
        ng-init="room = room"
        ng-show="room.id === currentRoom.id"
        ng-include="'views/message-window.html'">
    </div>
    <!-- Queries -->
    <div class="message-window"
        ng-controller="MessageWindowCtrl"
        ng-class="{'is-loading': isLoading}"
        ng-repeat="room in privateConversations"
        ng-init="room = room"
        ng-show="room.id === currentRoom.id"
        ng-include="'views/message-window.html'">
    </div>
  </div>

  <div class="chat-bar">
    <div class="current-discussion" ng-show="currentDiscussion.id">
      <i class="fa fa-fw fa-angle-double-right"></i>
      <span ng-bind-html="currentDiscussion.title | emoji"></span>
      <button class="btn close" ng-click="setCurrentDiscussion()">
        <i class="fa fa-fw fa-times"></i>
      </button>
    </div>
    <form name="sendMessageForm" ng-submit="send(message)">
      <div class="chat-input-container">
        <textarea
            chat-input-submit="send(message)"
            focus-on="CURRENT_DISCUSSION_SET"
            placeholder="Chat..."
            class="chat-input"
            ng-model="message"></textarea>
      </div>
      <button type="submit" class="btn send-message-btn">Send</button>
    </form>
  </div>
</section>

<div ng-include="'views/chat-context.html'"></div>
