<section class="sidebar">
  <ul class="room-list">
    <li ng-repeat="room in rooms">
      <i class="fa fa-fw fa-users"></i> {{room.name}}
    </li>
  </ul>

  <ul class="queries">
    <li class="query"
        ng-repeat="query in queries"
        ng-class="{'query-online': query.online,
                   'query-offline': !query.online}">

      <i class="fa fa-fw"
          ng-class="{'fa-circle': query.online,
                     'fa-circle-o': !query.online}"></i> {{query.name}}
    </li>
  </ul>
</section>

<section class="chat">
  <div class="topic-bar">

  </div>

  <div class="messages-container">
    <ul class="messages">
      <li class="message"
          ng-repeat="message in messages">
        <span class="message__user" ng-bind="message.user"></span>
        <span class="message__content" ng-bind="message.content"></span>
      </li>
    </ul>
  </div>

  <div class="chat-bar">
    <form ng-submit="send(message)">
      <input type="text" ng-model="message">
      <button type="submit" class="btn">Send</button>
    </form>
  </div>
</section>

<aside class="chat-context">

</aside>
