<div class="topic-bar">
  {{room.name}}
</div>

<div class="messages-container">
  <ul class="messages">
    <li class="messages-loading" ng-show="isLoadingOlder">
      <i class="fa fa-fw fa-refresh fa-spin"></i>
    </li>
    <li class="message"
        ng-class="{'notify': message.event === 'vcs'}"
        ng-repeat="message in flowdock.chatLogs[room.id] | orderBy:'sent'">
      <!-- Regular Message -->
      <div ng-if="message.event === 'message'">
        <div class="message__user" ng-bind="user(message.user).nick"></div>
        <div class="message__content" ng-bind-html="message.content | codeFormat | messageLinks"></div>
        <div class="message__time" am-time-ago="message.sent"></div>
      </div>

      <!-- VCS (GitHub) -->
      <div ng-if="message.event === 'vcs'">
        <div class="message__user">GitHub</div>
        <div class="message__content" ng-include="'views/github-' + message.content.event + '.html'"></div>
        <div class="message__time" am-time-ago="message.sent"></div>
      </div>
    </li>
    <li class="messages-loading">
      <i class="fa fa-fw fa-refresh fa-spin" ng-show="isLoadingNewer"></i>
    </li>
  </ul>
</div>
