<div class="topic-bar">
  {{room.name}}
</div>

<div class="messages-container">
  <ul class="messages" ui-scroll-bottom>
    <li class="message"
        data-timestamp="{{message.sent | date:'fullDate'}}"
        ng-repeat="message in messages"
        ng-init="meta = getMessageMeta(message)"
        ng-class="{'message--me': message.user === me().id,
                   'message--highlight': mentionsMe(message) || message.event === 'jira' || message.event === 'vcs',
                   'message--thread': message.event === 'comment' || isDiscussionHead(message),
                   'message--monologue': isMonologue(message, $index),
                   'message--date-separator': !isSameDay(message, $index)}">

      <button type="button"
          class="btn message__discussion-marker"
          ng-click="setCurrentDiscussion(message)">
        <i class="fa fa-fw"
            ng-class="{'fa-comments': message.event === 'comment',
                       'fa-comments': message.event !== 'comment'}"></i>
      </button>

      <div class="message__author-avatar"
          style="background-image:url('{{meta.avatar}}')"
          aria-hidden>
      </div>
      <div class="message__author">{{meta.author}}</div>

      <a href="{{meta.permalink}}" title="Permalink">
        <time datetime=""
            title="{{message.sent | date:'fullDate'}}"
            class="message__timestamp"
            am-time-ago="message.sent"></time>
      </a>

      <div class="message__content">
        <div ng-if="message.event === 'message'" ng-include="'views/messages/plain.html'"></div>
        <div ng-if="message.event === 'comment'" ng-include="'views/messages/comment.html'"></div>
        <div ng-if="message.event === 'file'" ng-include="'views/messages/file.html'"></div>

        <div ng-if="message.event === 'mail'" ng-include="'views/messages/mail.html'"></div>

        <div ng-if="message.event === 'jira'"
            ng-init="jira = message.content"
            ng-include="'views/messages/jira-' + message.content.event_type + '.html'"></div>

        <div ng-if="message.event === 'vcs'"
            ng-init="github = message.content"
            ng-include="'views/messages/github-' + message.content.event + '.html'"></div>

        <div ng-if="message.event === 'trello'"
            ng-init="trello = message.content"
            ng-include="'views/messages/trello-' + message.content.event + '.html'"></div>
      </div>
    </li>
  </ul>
</div>
